/robots.txt.dist
/composer.phar
/LICENSE.txt
/index.php
/htaccess.txt
/configuration.php
/web.config.txt
/README.txt
/robots.txt
/package-lock.json
/.idea
/.well-known
/components/com_ajax/ajax.php
/components/com_ajax/
/components/com_jce/
/components/com_jmap/
/components/index.html
/administrator/index.php
/.htaccess
/tmp/
/the_component_folder/
/package/
/node_modules/
/layouts/
/language/
/includes/
/images/
/dist/
/cli/
/cache/
/bin/
/api/
/dist*/

/dist_gridandfilter/
/gridandfilterpackage/


!/media/
/media/*

/media/com_protostore/js/vue/

!/media/com_protostore/
!/media/com_protostore/css/
!/media/com_protostore/fonts/
!/media/com_protostore/images/
!/media/com_protostore/js/



!/libraries/
/libraries/*
!/libraries/protostore/

!/components/
/components/*
!/components/com_protostore/

!/administrator/
/administrator/*

!/administrator/components/
/administrator/components/*
!/administrator/components/com_protostore/
/administrator/components/com_protostore/import_files

!/administrator/modules/
/administrator/modules/*
!/administrator/modules/mod_ps2latestorders/
!/administrator/modules/mod_ps2saleschart/

!/administrator/language/
/administrator/language/*
!/administrator/language/en-GB/
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_protostore.sys.ini
!/administrator/language/en-GB/en-GB.com_protostore.ini

!/modules/
/modules/*
!/modules/mod_protostorecart/
!/modules/mod_protostorecurrencyswitcher/
!/modules/mod_protostorecustomeraddresses/
!/modules/mod_protostorecustomerorders/

!/plugins/
/plugins/*

!/plugins/content
/plugins/content/*
!/plugins/content/protostore_fields/
!/plugins/content/protostore_gridandfilter/

!/plugins/ajax
/plugins/ajax/*
!/plugins/ajax/protostore_ajaxhelper/
!/plugins/protostorepayment/
!/plugins/protostoresystem/
!/plugins/protostoreshipping/

!/plugins/system
/plugins/system/*
!/plugins/system/protostore/
!/plugins/system/protostore_gridandfilter/
!/plugins/system/protostore_klarnacheckout/
!/plugins/system/protostore_stripecheckout/
!/plugins/system/protostore_stripepayment/
!/plugins/system/protostore_mollie/
!/plugins/system/protostore_offlinepay/
!/plugins/system/protostore_paypal/
!/plugins/system/protostore_stripe/
!/plugins/system/protostore_gallery/
!/plugins/system/protostore_rating/

!/plugins/user
/plugins/user/*
!/plugins/user/protostore/

/dist_klarnacheckout/
/dist_mollie/
/dist_paypal/
/dist_stripe/
/dist_stripecheckout/
/klarnacheckoutpackage/
/stripecheckoutpackage/
/stripepackage/
/paypalpackage/
/test.php

**/vendor/
